* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body{
    display:flex;
    justify-content:center;
    align-items:center;
    height: 100vh;

    background-color:rgb(231, 220, 199);
}

.donot{
    width:300px;
    height:300px;
    
    border: 2px solid rgb(0, 0, 0);
    background-color: rgb(255, 105,180);
    border-radius: 50%;

    display:flex;
    justify-content:center;
    align-items:center;

    position: relative;
}




.donot::before{
    content: '';
    width:300px;
    height:300px;

    position: absolute ;
    border: 10px solid pink;


    border-radius: 50%;
    border-top: none;
    border-right: none;
    border-bottom: none;

    top: -4px;
    left: 0.2px;

    rotate: -20deg;
}





.circle{
    width:75px;
    height:75px;

    border: 2px solid black;
    background-color:rgb(231, 220, 199);
    border-radius: 50%;

}


.circle::before{
    content: '';
    width: 35px;
    height:35px;

    position: absolute;


    border: 5px solid white;
    border-bottom-left-radius: 50px;
    border-top: 0;
    border-right: 0;

    top: 140px;
    left:90px;

    rotate: 28deg;
}



.eye{
    width: 10px;
    height:10px;

    background-color: black;
    position: absolute;
    top: 25px;
    left: 120px;

    border-radius: 50%;

    box-shadow: 40px 0 0 ;
}

.eye::after{
    content: '';
    width: 20px;
    height: 20px;

    position: absolute ;
    top: 20px;
    left: 10px;


    border: 5px solid black;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;

    border-top: none
    ;

}